body {margin: 0; padding: 0;}
* {box-sizing: border-box;}
  .container {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top:5px;
    text-align: center;
    background: #FFFADB;
    color: blue;
  }
.App {
  /* Required properties */
  width: 96%;
  height: calc(100vh - 47px);
  margin: auto;
  color: #000;
  background: #fff;
  overflow: auto;
  border: 1px solid #000;
  border-top: 1px solid #fff;
/* project properties */
}

.conf-step {background-color: rgba(234, 233, 235, 0.95); height: max-content;}
.conf-step__wrapper {padding: 35px 20px;}
.conf-step__movies {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }
  .conf-step__movies .conf-step__movie {
    position: relative;
    width: calc((100% - 30px) / 3);
    min-height: 52px;
    padding: 8px 8px 8px 48px;
    background: #FFEB85;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    cursor: move; }
    .conf-step__movies .conf-step__movie:nth-of-type(3n + 2) {
      margin: 0 15px; }
    .conf-step__movies .conf-step__movie:nth-of-type(n + 4) {
      margin-top: 15px; }
    .conf-step__movies .conf-step__movie:nth-of-type(1) {
      background-color: #caff85; }
    .conf-step__movies .conf-step__movie:nth-of-type(2) {
      background-color: #85ff89; }
    .conf-step__movies .conf-step__movie:nth-of-type(3) {
      background-color: #85ffd3; }
    .conf-step__movies .conf-step__movie:nth-of-type(4) {
      background-color: #85e2ff; }
    .conf-step__movies .conf-step__movie:nth-of-type(5) {
      background-color: #8599ff; }
    .conf-step__movies .conf-step__movie:nth-of-type(6) {
      background-color: #ba85ff; }
    .conf-step__movies .conf-step__movie:nth-of-type(7) {
      background-color: #ff85fb; }
    .conf-step__movies .conf-step__movie:nth-of-type(8) {
      background-color: #ff85b1; }
    .conf-step__movies .conf-step__movie:nth-of-type(9) {
      background-color: #ffa285; }
  .conf-step__movies .conf-step__movie-poster {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 50px; }
  .conf-step__movies .conf-step__movie-title {
    font-weight: 500;
    font-size: 1rem; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
  .conf-step__movies .conf-step__movie-duration {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.7); 
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

    .conf-step__seances {padding-bottom: 2vh;}
    .conf-step__seances-hall {
      width: 780px;
      margin: 25px auto;
    }

      .conf-step__seances-title {
        font-weight: 500;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-align: left;
        margin: 0; }
      
      .conf-step__seances-timeline {
        position: relative;
        outline: 1px solid #848484;
        padding: 10px 0;
        height: 40px;
        box-sizing: content-box;
        width: 780px; } /* Продолжительность работы зала с 10:00 до 23:00 - 13часов * 60 минут = 780минут = 780px*/
      
      .conf-step__seances-movie {
        position: absolute;
        height: 40px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        padding: 10px 2px 10px 10px; }
        .conf-step__seances-movie .conf-step__seances-movie-title {
          overflow: hidden;
          line-height: 10px;
          height: 100%; }
        .conf-step__seances-movie .conf-step__seances-movie-start {
          position: absolute;
          bottom: -40px;
          color: #848484;
          font-size: 0.7rem; }
        .conf-step__seances-movie::before {
          content: '';
          position: absolute;
          display: block;
          width: 1px;
          height: 5px;
          bottom: -17px;
          background-color: #848484; }
          .conf-step__seances-movie-after {
            position: absolute;
            display: block;
            width: 1px;
            height: 5px;
            bottom: -17px;
            background-color: #848484; }
        .cleaner-time {
          position: absolute;
          width: 10px;
          height: 40px;
          background-color: blueviolet;
          top: -2px;
          border: 1px solid rgba(0, 0, 0, 0.3);
        }
      .clearing-time__span{
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 40px;
        border-width: 1px;
        border-style: solid;
        box-sizing: border-box;
        background-color: blueviolet;
      }
.taken {border: 3px rgb(18, 18, 209) dashed;}
